/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  /* background-color: rgb(7, 22, 49); */
  background:linear-gradient(1000deg, #20296a, #184b8d, #1f2e71) ;
}

.app {
  height: 100vh;
  background: linear-gradient(to bottom, #2522ce, #ffffff);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  text-align: center;
}

.content {
  padding-top: 100px;
  color: #0053A0;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #333;
}

.cta-button {
  padding: 10px 20px;
  background-color: #FFD700;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #FFC107;
}
